

.poppins-thin {
    font-family: "Poppins", sans-serif;
  }

.bg-primary-color {
    background-color: #3752FD;
}
.main-bg-color {
    background-color: #F4F7FF;
}

.title-text-color {
    color: #00303C;
}